.review-card{
    /* margin-bottom: 50px; */
    width: 300px;
    border-radius: 10px !important;
}
.review-card .top-box {
    background-color: #DFDBD5;
    width: 300px;
    height: 80px;
    position: absolute;
    /* position: relative; */
    z-index: 1;
}
.review-card img {
    background-color: gray;
    border-radius: 100%;
    border: 3px soild #D4D4D4;
    width: 100px;
    height: 100px;
    object-fit: cover;
    position: relative;
    display: block;
    margin: auto;
    top: 25px;
    z-index: 5;
  }
  .bottom-box{
    padding-top: 80px;
    padding-left: 40px;
    box-shadow: 2px 3px 6px rgba(0,0,0,0.16);
    width: 300px;
    height: 50%;
    transform: translateY(-50px);
    text-align: center;
  }
  blockquote{
    margin: 0 auto;
    padding: 0;
    width: 210px;
  }
  blockquote p{
    font-style: italic;
    font-size: 16px;
    line-height: 21px;
    padding-top: 60px;
  }
  .review-card{
    text-align: center;
  }
  .review-card span {
    font-size: 18px;
    font-weight: 500;
  }