.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button-primary{
  margin-right: 17px;
  padding: 20px 37px;
  background-color: #42b7e2;
  color: #fff;
  border-radius: 5em;
  border-width: 3px;
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 20px;
  text-align: center;
  white-space: nowrap !important;
  border:0;
  transition: all 0.3s ease-in-out;
}
.button-primary:hover{
  background-color: transparent;
  border: 3px solid #42b7e2;
  color: #42b7e2;
}

.button-outline{
  margin-right: 17px;
  padding: 20px 37px;
  
  background-color: transparent;
  border: 3px solid gray !important;
  
  border-radius: 5em;
  border-width: 3px;
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 20px;
  text-align: center;
  white-space: nowrap !important;
  
  transition: all 0.3s ease-in-out;
}
.button-outline:hover{
  background-color: #42b7e2;
  color: #fff;
  border:0 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
